.divFooter {
    bottom: 0;
    position: absolute;
}

.btnNew {
    width: 65px;
    height: 65px;
    position: fixed;
    right: 0;
    margin-right: 20px;
    font-size: 3rem;
    line-height: 3rem;
    padding-top: 0px;
}
a {
    text-decoration: none !important;
}

.principal {
    min-height: calc(100vh - 264px);
}

.divDescription {
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background: #d5ede0;
    font-weight: 500;
}