<footer class="w-100 mt-auto">
  <ul class="list-group text-center">
    <li class="list-group-item border-0 bg-dark text-white">Desarrollador: Gastón Marino</li>
    <li class="list-group-item border-0 bg-dark text-white">Materia: Aplicaciones Híbridas</li>
    <li class="list-group-item border-0 bg-dark text-white">Profesor: Brian Lara</li>
    <li class="list-group-item border-0 bg-dark text-white">gmarino86</li>
  </ul>
</footer>
